body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://example.com/your-image-url.jpg");
}

.header {
    background-color: whitesmoke;
      padding: 10px 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;     
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
}

.header header {
    display: flex;   
    align-items: center;  
}

.header nav {
    display: flex;
    justify-content: center;  /* Center the navigation links horizontally */
}

.header nav a {     
    padding: 10px 20px;
    text-decoration: none;
    color: green;
    margin: 0 10px;
    font-weight: bold;
    transition: 0.3s;    
}

header img {
  max-height: 50px;
  margin-right: 10px;
  margin-left: 0;
}

section#about {
  background-color: whitesmoke;
  padding: 20px;         
  text-align: center;
  padding-left: 30rem;
  padding-right: 30rem;
  padding-top: 190px;
}

div {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

section img {
  max-width: 100%;
  max-height: 200px;
  margin-right: 20px;
}
/* Style the email input */
input[type="email"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  margin-bottom: 10px; /* Add some spacing between input and button */
}

/* Style the subscribe button */
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Add a bit of hover effect to the button */
button:hover {
  background-color: #45a049;
}

.p {
  font-size: 2em;
  margin-right: 50px;
  text-align: center;   
}

footer {
  background-color: rgba(214, 193, 193, 0.7);
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
  z-index: 9999;
}
.fa-instagram {
  background: whitesmoke;
  color: white;
}
@media only screen and (max-width: 600px) {
  section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;
  }

  section img {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
