body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://example.com/your-image-url.jpg");
}

.header {
    background-color: rgba(214, 193, 193, 0.7);
    padding: 10px 0; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header header {
    display: flex;   
    align-items: center;   
}

.header nav {
    display: flex;
    justify-content: center;  /* Center the navigation links horizontally */
}

.header nav a {     
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(2, 2, 2);
    margin: 0 10px;
    font-weight: bold;
    transition: 0.3s;    
}

header img {
  max-height: 50px;
  margin-right: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 5em;
  color: black;
}

section img {
  max-width: 100%;
  max-height: 200px;
  margin-right: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

section#about {
  background-color: whitesmoke;
  padding: 20px;         
  text-align: center;
  padding-left: 30rem;
  padding-right: 30rem;
  padding-top: 190px;
}
/* Apply a bit of styling to the container div */
div {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

/* Style the label */
label {
  display: block;
  margin-bottom: 5px;
}

/* Style the email input */
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

/* Style the subscribe button */
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Add a bit of hover effect to the button */
button:hover {
  background-color: #45a049;
}

.p {
  font-size: 2em;
  margin-right: 50px;
  text-align: center;   
}

footer {
  background-color: rgba(214, 193, 193, 0.7);
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
}
.fa-instagram {
  background: #125688;
  color: white;
}
@media only screen and (max-width: 600px) {
  section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;
  }

  section img {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
